
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
  
	<title>mushroom prediction </title>
  
  <style>
    body{
      background-color: gainsboro;
    }
    .title{
      font-weight: bold;
      font-size: 20px;
      color: rgb(0, 53, 128);
      margin-bottom: 40px;
      text-align: center;
      font-family: 'Courier New', Courier, monospace;
    }
    .wrapper{
      margin-left: 10%;
      margin-top:5%;
    }
    .form{
     
    }
    .submit{
      margin-top: 40px;
      text-align: center;
     
    }
    .submit input{
      background-color: rgb(206, 190, 204);
      padding: 5px;
      padding-right: 10px;
      padding-left: 10px;
    }
  </style>
</head>
<body >

<div class="wrapper" >
    <div class="title">  Prediction For mushroom </div>
    <p style="font-size: 20px"> Enter details about mushroom</details></p>
    <form  action= "predict" method="POST" >
             
<label>1. cap-shape: bell=b,conical=c,convex=x,flat=f, knobbed=k,sunken=s </label> 
<input type="text" class="input" placeholder="b" name="cap-shape" value="b"><br>

<label>2. cap-surface: fibrous=f,grooves=g,scaly=y,smooth=s </label> 
<input type="text" class="input" placeholder="f" name="cap-surface" value="f"><br>

<label>3. cap-color: brown=n,buff=b,cinnamon=c,gray=g,green=r,pink=p,purple=u,red=e,white=w,yellow=y</label> 
<input type="text" class="input" placeholder="c" name="cap-color" value="c"><br>

<label>4. bruises: bruises=t,no=f</label>
<input type="text" class="input" placeholder="t" name="bruises" value="t"><br>

<label>5. odor: almond=a,anise=l,creosote=c,fishy=y,foul=f,musty=m,none=n,pungent=p,spicy=s</label> 
<input type="text" class="input" placeholder="a" name="odor" value="a"><br>

<label>6. gill-attachment: attached=a,descending=d,free=f,notched=n</label>
<input type="text" class="input" placeholder="a" name="gill-attachment" value="a"><br>

<label>7. gill-spacing: close=c,crowded=w,distant=d</label>
<input type="text" class="input" placeholder="c" name="gill-spacing" value="c"><br>

<label>8. gill-size: broad=b,narrow=n</label>
<input type="text" class="input" placeholder="b" name="gill-size" value="b"><br>

<label>9. gill-color: black=k,brown=n,buff=b,chocolate=h,gray=g, green=r,orange=o,pink=p,purple=u,red=e,white=w,yellow=y</label> 
<input type="text" class="input" placeholder="n" name="gill-color" value="n"><br>

<label>10. stalk-shape: enlarging=e,tapering=t</label>
<input type="text" class="input" placeholder="t" name="stalk-shape" value="t"><br>

<label>11. stalk-root: bulbous=b,club=c,cup=u,equal=e,rhizomorphs=z,rooted=r,missing=?</label> 
<input type="text" class="input" placeholder="b" name="stalk-root" value="b"><br>

<label>12. stalk-surface-above-ring: fibrous=f,scaly=y,silky=k,smooth=s</label> 
<input type="text" class="input" placeholder="f" name="stalk-surface-above-ring" value="f"><br>

<label>13. stalk-surface-below-ring: fibrous=f,scaly=y,silky=k,smooth=s</label> 
<input type="text" class="input" placeholder="y" name="stalk-surface-below-ring" value="y"><br>

<label>14. stalk-color-above-ring: brown=n,buff=b,cinnamon=c,gray=g,orange=o,pink=p,red=e,white=w,yellow=y</label> 
<input type="text" class="input" placeholder="g" name="stalk-color-above-ring" value="g"><br>

<label>15. stalk-color-below-ring: brown=n,buff=b,cinnamon=c,gray=g,orange=o,pink=p,red=e,white=w,yellow=y </label> 
<input type="text" class="input" placeholder="w" name="stalk-color-below-ring" value="w"><br>

<label>16. veil-type: partial=p,universal=u </label> 
<input type="text" class="input" placeholder="u" name="veil-type" value="u"><br>

<label>17. veil-color: brown=n,orange=o,white=w,yellow=y</label> 
<input type="text" class="input" placeholder="o" name="veil-color" value="o"><br>

<label>18. ring-number: none=n,one=o,two=t</label> 
<input type="text" class="input" placeholder="t" name="ring-number" value="t"><br>

<label>19. ring-type: cobwebby=c,evanescent=e,flaring=f,large=l,none=n,pendant=p,sheathing=s,zone=z</label> 
<input type="text" class="input" placeholder="c" name="ring-type" value="c"><br>

<label>20. spore-print-color: black=k,brown=n,buff=b,chocolate=h,green=r,orange=o,purple=u,white=w,yellow=y</label> 
<input type="text" class="input" placeholder="k" name="spore-print-color" value="k"><br>

<label>21. population: abundant=a,clustered=c,numerous=n,scattered=s,several=v,solitary=y</label> 
<input type="text" class="input" placeholder="s" name="population" value="s"><br>

<label>22. habitat: grasses=g,leaves=l,meadows=m,paths=p,urban=u,waste=w,woods=d</label> 
<input type="text" class="input" placeholder="l" name="habitat" value="l"><br>


      
      <div class="submit">
        <input type="submit" value="Predict" class="btn">
      </div>
    </div>
</form>
</div>	
	
</body>
</html>